:root {
    --black: #000;
    --black1: #262626;
    --black2: #3a3a3a;
    --black3: #313131;
    --blue1: #17bac0;
    --green1: #82b440;
    --green2: #7aa93c;
    --green3: #1bbc9b;
    --pink1: #ba71da;
    --white: #fff;
}